<nav class="navbar navbar-dark bg-black">

    <nav class="my-0 mr-md-auto font-weight-normal" style="background-color: grey;">
        <a class="p-2 text-dark" routerLink="">Home</a>
        <a class="p-2 text-dark" routerLink="/line-chart">Line-Chart</a>
        <a class="p-2 text-dark" routerLink="/pie-chart">Pie-Chart</a>
        <a class="p-2 text-dark" routerLink="/bar-chart">Bar-Chart</a>
        <a class="p-2 text-dark" routerLink="/doughnut-chart">Doughnut-Chart</a>
        <a class="p-2 text-dark" routerLink="/radar-chart">Radar-Chart</a>
        <a class="p-2 text-dark" routerLink="/polararea-chart">Polararea-Chart</a>
        <a class="p-2 text-dark" routerLink="/bubble-chart">Bubble-chart</a>
        <a class="p-2 text-dark" routerLink="/scatter-chart">Scatter-Chart</a>

    </nav>
 </nav>   
